



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-rendering:optimizeLegibility;
	-webkit-font-smoothing: antialiased;
 
}



:root{
    --bkgrnd: #1a1a21;
    --blue:#51a3ff;
    --green:#86ecb7;
    --red:#ff8c8d;
    --scrollbarBG: transparent;
    --thumbBG: rgba(255,255,255, 0.5);
}

::selection{
    background: #3a89e4;
    color: var(--bkgrnd)
}

::placeholder {
    color:#8b8ba0;
}


*::-webkit-scrollbar {
    width: 8px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  *::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  




body {
    background-color: var(--bkgrnd);
    padding:5%;
}
.wrapper2{
  max-width:1400px;
  margin: 0 auto;
}
.item{

    border: 1px solid rgba(255,255,255, 0.4);
    border-radius: 7px;
    /* background-color: var(--bkgrnd); */
    box-shadow: 0px 0px 20px black;
    max-height: auto;
}

.item:hover{
    transition:.2s;
    border: 1px solid #ffffff;

}

.wrapper {

        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        grid-auto-rows: 20px;


}

h1 {
    width:5em;
    margin-bottom:40px;
    
}

.user-note-pad {
    margin-bottom: 31px;
    min-height: 10em;
    /* max-height: 90vh; */
    /* overflow: scroll; */
    padding-bottom:7px;
}

#initial {
   
    margin-bottom: 60px;
    border: 1px solid rgba(255,255,255, 0.4);
    border-radius: 7px;
    width: 50%;
    background-color: var(--bkgrnd);
    box-shadow: 0px 0px 20px black;
    padding:20px;
    caret-color: var(--blue); 
}
#initial input{
    width:100%;
    overflow: hidden;
}

textarea {
    max-width: 95%;
}



@media only screen and (max-width: 1100px) {
    .wrapper {
    
        justify-content: space-between;
        flex-wrap:wrap;

    }
    form{
        width:75%
    }
}


@media only screen and (max-width: 700px) {
  
    form{
        width:100%
    }

    .wrapper {


        grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
       

}
}

.noteH2 {
    font-weight: 400;
    font-size: 1.35em;
    padding: 10px 20px 10px 20px;
    background-color:transparent;
    border: none;
    border-radius: 10px;
    width:100%;
    /* border-bottom: 1px solid #cdff50; */
   
}

.hyperlink{
    text-decoration: none;
    color:inherit;
    font-size:.8em;
    overflow: hidden;
    margin:0px 20px 3px 20px;
    border-radius: 3px;
    background-color:rgba(255,255,255, 0.2);
    padding:5px;
    display: flex;

    /* color:orange */
}

.hyperlink i{
    font-size: .6em;
}

.linksDiv{
    max-height:15vh;
    overflow: auto;
    
}

.linksDiv:after{

    position: relative;
    z-index: 1;
    box-shadow: 0px -5px 10px black;
}

.fa-external-link-alt{
    display:inline-block;
}

i {
    font-size: 3em;
}

.noteP {
    font-size: .9em;
    font-weight: 500;
    padding: 20px;
    background-color:transparent;
    border: none;
    width: 100%;
    outline:none;
    position:relative;
    z-index: 0;
    display: block;
    line-height: 1.35em;
    max-height: 65vh;
    overflow:hidden;
    /* margin-bottom:5px; */
}

button{
    outline:none;
}
.btn {
    transition:.2s;
    box-shadow: 0px 0px 20px black;
    background-color: var(--blue);
    color: var(--bkgrnd);
    border: none;
    line-height:1em;
    padding: 2px 13px 0px 13px;
    border-radius: 50%;
    font-size: 3em;
    font-weight: 300;
    padding-bottom: .1em;
    float:right;
}

.btn:hover {
    transition:.2s;
    background-color: var(--blue);
    transform:scale(1.1);
}

.btn:focus{
    border:solid 2px white;
}

.title {
    background-color: transparent;
    overflow: hidden;
    border: none;
    font-size: 2.25em;
    color: white;
    width:100%;

}

.body-copy {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    line-height:1.5em;
    color: white;
    font-weight: 300;
    width:100%;
}

textarea:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

i { 
    transition: .3s;
    /* color: white; */
    font-size: 1.25em;
 
    margin: 5px 10px 5px 5px;
}

i:hover, i:focus {
    transition: .3s;
    opacity:.7;
    cursor:pointer;
}


.underline {

    box-shadow: 0px 2px 5px rgba(0, 0, 0, .6);   
    position:relative;
    z-index: 1;
}

.add {
    cursor: pointer;
}

textarea {
    resize: none;
}

.close-this {
    cursor: pointer;
    /* padding:1px; */
    /* margin-top:-4%; */
}

.originalNote[contenteditable]:empty::before {
    content: "Note";
    color: #8b8ba0;;
  }

  .originalNote{
      display:block;
      caret-color: var(--blue);
      outline:none;
  }

  #coverLower{
      position:relative;
  }

  #cover{
      display:none;
      transition:.4s;
      position:relative;
      background-color:rgba(9, 9, 16, 0.7);
      opacity: 0;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index:-1;
      /* filter: blur(8px);
      -webkit-filter: blur(8px); */
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
    width:40%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 900px) {
    .centered {
        width:60%;
      }
  }


  @media only screen and (max-width: 600px) {
    .centered {
        width:80%;
      }
  }

  .optionsContainer{
      display:none;
      height: 30px;
      width:100%;
      position:absolute;
      bottom:0;
      /* background-color: rgba(0,0,0, 0.7); */
      border-radius: 0px 0px 7px 7px;
      padding:0px 15px 0px 15px;

  }

  .closeNote{
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom:5px;
    margin-right:20px;
    cursor:pointer;
  }

  .closeNote:hover{
      opacity:0.6;
  }

  .colorContainer{
      background-color: var(--bkgrnd);
      padding:7px 7px 4px 7px;
      border-radius: 5px;
      border: 1px solid rgba(255,255,255, 0.4);
      position:absolute;
      bottom:0;
      margin-bottom:30px;
      margin-left:20px;
      display:none;
  }

  .closeContainer{
    background-color: var(--bkgrnd);
    padding:7px 7px 4px 7px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255, 0.4);
    position:absolute;
    bottom:0;
    margin-bottom:30px;
    margin-left:67px;
    color:white;
    cursor:pointer;
    display:none;
}

.closeContainer:hover{
    background-color: #30303a;
}

.createListContainer{
    background-color: var(--bkgrnd);
    padding:7px 7px 4px 7px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255, 0.4);
    position:absolute;
    bottom:0;
    margin-bottom:30px;
    margin-left:22px;
    color:white;
    cursor:pointer;
    display:none;
}

.createListContainer:hover{
    background-color: #30303a;
}

  .redCircle{
      background-color: var(--red);
      display:inline-block;
      height:1.5em;
      width:1.5em;
      border: 1px solid rgba(255,255,255, 0.3);
      border-radius: 50%;
      cursor:pointer;
      margin:1px;
  }

  .redCircle:hover, .redCircle:focus{
    transition:.2s;
    border: 1px solid white;
}


  .original{
    background-color: var(--bkgrnd);
    display:inline-block;
    height:1.5em;
    width:1.5em;
    border: 1px solid rgba(255,255,255, 0.3 );
    border-radius: 50%;
    cursor:pointer;
    margin:1px;
}

.original:hover, .original:focus{
    transition:.2s;
    border: 1px solid white;
}

.greenCircle{
    background-color: var(--green);
    display:inline-block;
    height:1.5em;
    width:1.5em;
    border: 1px solid rgba(255,255,255, 0.3 );
    border-radius: 50%;
    cursor:pointer;
    margin:1px;
}

.greenCircle:hover, .greenCircle:focus{
    transition:.2s;
    border: 1px solid white;
}


.blueCircle{
    background-color: var(--blue);
    display:inline-block;
    height:1.5em;
    width:1.5em;
    border: 1px solid rgba(255,255,255, 0.3 );
    border-radius: 50%;
    cursor:pointer;
    margin:1px;
}

.blueCircle:hover, .blueCircle:focus{
    transition:.2s;
    border: 1px solid white;
}



.todo{
    width:85%;
    display:none;
    margin: 30px 20px 20px 20px;
}
  
  .listItem{
    display:flex;
    position:relative;
    margin-top:.5em;
  } 
  
  
  .listName{
    width:60%;
    color:inherit;
    font-size:1.15em;
    outline:none;
    border:none;
    border-bottom:2px solid;
    background:transparent;
  }

  .listName:focus{
         opacity: .7;
  }
  
  .check{
   margin-right:5px;
    background:none;
  }
  
  .listDescription{
    display:inline;
    outline:none;
  /*   width:1%; */
    border:none;
    /* border-bottom: 2px solid; */
    margin-left:15px;
  
  }

  
  .listDescription[contenteditable]:empty::before {
      content: "Note";
      color: #8b8ba0;;
    }
  
  .remove{
    transition:.2s;
    font-size:1.15em;
    opacity:0.5;
    cursor:pointer;
    margin-left: auto;
  }
  
  .remove:hover{
    transition:.2s;
    opacity:1.0;
  }
  
  .createListItem{
      background:none;
      font-size: 2em;
      color:inherit;
      width:1.26em;
      padding:2px;
      border:none;
      cursor:pointer;
  }

  .createListItem:hover{
      opacity: .7;
  }
  
  .checkContainer {
    display: block;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border:2px solid;
  }
  
  
  .checkContainer:hover input ~ .checkmark {
  transition:.2s;
    opacity:.8;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .checkContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkContainer .checkmark:after {
    left: 3px;
    top: 0x;
    width: 3px;
    height: 8px;
    border: solid;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .noteTab{

    padding:5px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2); 
    border-radius: 0px 0px 4px 4px;  
    background-color: rgba(255, 255, 255, 0.2);
    font-size: .7em;
    cursor:pointer;
  }

  .listTab{

    padding:5px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);   
    border-radius: 0px 0px 4px 4px;   
    background-color: rgba(255, 255, 255, 0.2);
    font-size: .7em;
    cursor:pointer;
    margin-right:15px;
  }

  .listTab:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.noteTab:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.tabsDiv{
    float:right;
    visibility:hidden;
}

.active{
    background-color: rgba(255, 255, 255, 0.5);
}

